<tr>
  <td>
    <%= image_tag item[:product].image_url(:thumb) %>
    <h4><%= item[:product].name %></h4>
    <p><%= item[:product].description %></p>
  </td>
  <td><%= item[:quantity] %></td>
  <td><%= humanized_money_with_symbol item[:product].price_cents / 100.00 %></td>
  <td><%= humanized_money_with_symbol (item[:product].price_cents / 100.00) * item[:quantity] %></td>
</tr>