<section class="orders-show">

  <header class="page-header">
    <h1>Your order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order <%= @order.email %>!</h4>
    <h5>Here's what you bought:</h5>
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Item Price</th>
        <th>Total Price</th>
      </tr>
    </thead>
    <tbody>
      <% new_order_summary.each do |item| %>
        <%= render 'row', item: item  %>
      <% end %>
    </tbody>
  </table>

  <nav class="navbar navbar-light bg-light justify-content-end">
    <h4>Order total: <%= humanized_money_with_symbol @order.total_cents / 100.00 %></h4>
  </nav>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
